.main_container {
  display: flex;
  flex-direction: row;
  background-color: #f44336;
  padding: 5px 10px;
  justify-content: space-between;
}
.left_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.left_container .logo {
  height: 50px;
  color: #fff;
}
.left_container .menu_tag {
  height: 30px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.right_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_container .cart {
  height: 25px;
  color: white;
  filter: brightness(0) invert(1);
}

.menu {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem !important;
  box-shadow: 1px 1px 4px 0 #000 !important;
  background-color: #ff755c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu p {
  grid-gap: 8px;
  align-items: center;
  display: grid;
  font-family: Comfortaa;
  font-weight: 300;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  letter-spacing: 1px;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  text-transform: uppercase;
}
.menu p img {
  height: 50px;
}

.menu p:before {
  background-color: #f8f8f8;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  content: " ";
  display: block;
  height: 5px;
}
.menu p:after {
  background-color: #f8f8f8;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  content: " ";
  display: block;
  height: 5px;
}

.menu ul {
  border: 0 solid green;
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.menu ul a {
  background-color: initial;
  text-decoration: none;
}

.menu ul a li {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 500;
  justify-content: start;
  margin: 12px 20px;
  padding: 8px;
}

.menu ul a li img {
  filter: invert() opacity(0.4);
  height: 24px;
  margin: 0 12px 0 0;
  width: 24px;
}
.menu.active {
  opacity: 1;
  visibility: visible;
}
